<!DOCTYPE html>
<html>
<head>
  <title>Pig Latin</title>
</head>
<body>
<h1>Pig Latin translator</h1>

<form action="/translate" method="post">
  <input type="text" name="word" autofocus>
  <button>Translate</button>
</form>

</body>
</html>